*{
    font-family: 'Roboto', sans-serif;
    color: #ad8122;

}

h1{
    color:
}

header{
    height: auto;

}

main {
    height: 400px;
    background: rgb(34,193,195);
    background: linear-gradient(333deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.menu-logo{
    width: 100%;
}

.logo{
    width: 200px;
}

.logo img {
    width: 100%;
}

.menu-list {
    width: 100%;
    height: 100%;
}

ul{
    width: 100%;
}

li {
    list-style-type: none;
    display: inline-block;


}

/* ----------box-pwd------- */
.box-pwd{
    width: 50%;
    height: 400px;
    background-color: #fff;
}

.box-pwd-container {
    width: 80%;
    height: 300px;
    border: 1px solid #c8aa69;
}

.box-pwd-content {
    width: 300px;
    height: 60px;

}

.pwd-front{
    width: 300px;
    height: 60px;
    background: rgb(40,184,186);
    background: linear-gradient(333deg, rgba(40,184,186,1) 0%, rgba(219,172,68,1) 100%);
}

.pwd-back p{
    padding: 35px 0;
    color: #fff;
    font-size: 16px;
}

.box-pwd-card {
  background-color: transparent;
  width: 300px;
  height: 100px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.box-pwd-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.box-pwd-card:hover .box-pwd-content {
  transform: rotateY(180deg);
}

.pwd-front, .pwd-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pwd-front {
  background-color: #bbb;
  color: black;
}

.pwd-back {
    background: rgb(235,194,104);
    background: linear-gradient(333deg, rgba(235,194,104,1) 0%, rgba(40,184,186,1) 100%);
    color: white;
    transform: rotateY(180deg);
